@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway');

h1, h2, h3 {
	font-family: 'Abril Fatface', cursive;
}

body, html {
	font-family: 'Raleway', sans-serif;
	margin: 5px;
	height: 100%;
}

.grid {
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr 10fr 3fr 1fr;
	grid-template-rows: 1fr 2fr 10fr 2fr 1fr;
	grid-template-areas: "logo . . . ."
						 ". . . . ."
						 ". . game . ."
						 ". . . . ."
						 "footer footer footer footer footer";
}

.game {
	padding: 10px;
	height: 800px;
	width: 800px;
	text-align: center;
	grid-area: game;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 15px;
	transition: background-color ease-in-out 0.4s;
	margin: auto;
}

#sudoku {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
     grid-auto-rows: 1fr;
	border: 1px solid black;
}

#sudoku > div {
	height: 100%;
	width: 100%;
	font-size: 2em;
	border: 1px solid black;
	display: table;
	transition: background-color ease-in-out 0.4s;
}

#sudoku > div > p {
	font-size: 2em;
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#sudoku > .locked {
	font-family: 'Abril Fatface', cursive;
	transition: background-color ease-in-out 0.4s;
}

.game > h1 {
	margin-bottom: 0;
}

.game > p {
	margin: 0;
}

footer {
	grid-area: footer;
}

.logo {
	text-align: center;
	grid-area: logo;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 2em;
}
