@import url("https://fonts.googleapis.com/css?family=Merriweather|Roboto&display=swap");

:root {
    --black: #3a3a3a;
    --grey: #bfbfbf;
    --good-example-1: #ffc356;
    --good-example-2: #ffe58717;
    --good-example-3: #ffe5874d;
    --bad-example-1: #ff4f80;
    --bad-example-2: #ff4f8115;
    --bad-example-3: #ff4f813f;
}

html, body {
    font-family: "Roboto", sans-serif;
    color: var(--black);
}

p {
    font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
    border-left: 2px dotted var(--grey);
    padding-left: 10px;
    font-weight: 400;
}

h2 {
    margin-top: 3em;
}

hr {
    height: 2px;
    background: var(--grey);
    border: 0;
}

li {
    margin-bottom: 13px;
    margin-top: 13px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

#content {
    padding: 1em;
    max-width: 700px;
    border-radius: 10px;
}

.example {
    padding: 8px 0px 8px 20px;
    margin-left: 10px;
    font-family: "Merriweather", monospace, sans-serif;
}

.good {
    border-left: 3.5px solid var(--good-example-1);
    background-color: var(--good-example-2);
}

.good p mark {
    border-bottom: 2px dashed var(--good-example-1);
}

.bad {
    border-left: 3.5px solid var(--bad-example-1);
    background-color: var(--bad-example-2);
}

.bad::before {
    content: "!";
    position: absolute;
    transform: translateX(-2em) translateY(1em);
    font-weight: 500;
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    background-color: var(--bad-example-1);
}

.bad p mark {
    border-bottom: 2px dashed var(--bad-example-1);
}

mark {
    border-bottom: 2px dashed var(--black);
    background-color: inherit;
    font-style: italic;
}

.example p {
    margin: 0px;
}

.example p:nth-child(odd)::before {
    content: "Swe | ";
}

.example p:nth-child(even)::before {
    content: "Eng | ";
}

.footnotes {
    margin-top: 4em;
}

.footnotes::before {
    content: "Footnotes";
    font-size: 1.5em;
    font-weight: 400;
}
