<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Recipe</title>
		<link rel="stylesheet" href="main.css">
	</head>
	<body>
		<div class="document">
			<div class="title-box">
				<h1 class="main-title">Title</h1>
				<h2 class="main-subtitle">– Subtitle</h2>
				<p class="preparation-time">Preparation time: 45 minutes</p>
				<br />​<hr />​​​​​​​​​​​​​​​​​​​
			</div>

			<div class="recipe">
				<div class="ingredients">
					<h2 class="ingredients-title">Ingredients [ 2 Portions ]</h2>

					<h3 class="ingredients-subtitle">Main Ingredients</h3>
					<table class="ingredients-table">
						<tbody>
							<tr clas=ingredients-table-row>
								<td><p>1 unit</p></td>
								<td><p>Ingredient</p></td>
							</tr>
							<tr>
								<td><p>2 units</p></td>
								<td><p>Ingredient</p></td>
							</tr>
						</tbody>
					</table>

					<h3 class="ingredients-subtitle">Extra Ingredients</h3>
					<table class="ingredients-table">
						<tbody>
							<tr clas=ingredients-table-row>
								<td><p>1 unit</p></td>
								<td><p>Ingredient</p></td>
							</tr>
							<tr>
								<td><p>2 units</p></td>
								<td><p>Ingredient</p></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="instructions">
					<h2 class="instructions-title">Instructions</h2>
					<ol class="instructions-list">
						<li><p>Mix all ingredients.</p></li>
						<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></li>
						<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li>
						<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></li>
						<li><p>Serve!</p></li>
					</ol>
				</div>
			</div>
		</div>
	</body>
</html>
