<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Recipe: Gin &amp; Tonic</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="template-2.css">
	</head>
	<body>
		<div class="document">
			<div class="title-box">
				<h1 class="main-title">Gin &amp; Tonic</h1>
				<h2 class="main-subtitle">– Den Perfekta GT:n</h2>
				<p class="preparation-time">Tillagningstid: 2 minuter</p>
				<br />
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
				​<hr />​​​​​​​​​​​​​​​​​​​
			</div>

			<div class="recipe">
				<div class="ingredients">
					<h2 class="ingredients-title">Ingredienser [ 1 Glas ]</h2>

						<h3 class="ingredients-subtitle">Huvudingredienser</h3>
						<table class="ingredients-table">
							<tbody>
									<tr class="ingredients-table-row">
										<td><p>30 ml</p></td>
										<td><p>Gin</p></td>
									</tr>
									<tr class="ingredients-table-row">
										<td><p>1 Burk</p></td>
										<td><p>Tonic</p></td>
									</tr>
									<tr class="ingredients-table-row">
										<td><p>1 klyfta</p></td>
										<td><p>Lime</p></td>
									</tr>
							</tbody>
						</table>
						<h3 class="ingredients-subtitle">Garnering</h3>
						<table class="ingredients-table">
							<tbody>
									<tr class="ingredients-table-row">
										<td><p>1 skiva</p></td>
										<td><p>Lime</p></td>
									</tr>
							</tbody>
						</table>
				</div>

				<div class="instructions">
					<h2 class="instructions-title">Instruktioner</h2>
					<h3 class="instructions-subtitle">Dryck</h3>
					<ol class="instructions-list">
							<li><p>Häll upp gin i ett glas.</p></li>
							<li><p>Pressa i en klyfta lime och släpp ned den i galset.</p></li>
							<li><p>Lägg i is och fyll resterande del av galset med kall tonic.</p></li>
					</ol>
					<h3 class="instructions-subtitle">Garnering</h3>
					<ol class="instructions-list">
							<li><p>Ta en skiva lime och skär den halvvägs över i mitten.</p></li>
							<li><p>Dekorera glasets kant genom att fästa lime-skivan genom den nyligen skurna glipan.</p></li>
					</ol>
				</div>
			</div>
		</div>
	</body>
</html>
