@import url('https://fonts.googleapis.com/css?family=Alice');

@page {
  size: A4 portrait;
  margin: 2cm 1.5cm;
}

html, body {
	font-family: "Alice";
	color: #333;
}

p {
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}

.titles {
	width: 50%;
	float: left;
}

.alphabet {
	width: 50%;
	float: left;
}

.title-box:after {
	content: "";
	display: table;
	clear: both;
}

.fa-star {
	color: #ABABAB;
}

.checked {
  color: #333333BB;
}

.document {
	max-width: 800px;
	margin:auto;
}

.main-title {
	font-size: 48px;
	margin-bottom: 3px;
}

.main-subtitle {
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	margin: 0px;
}

.preparation-time {
	font-style: italic;
	margin: 0px;
}

.recipe {
	column-count: 2;
	column-fill: auto;
	column-gap: 0px;
	column-width: 250px;
}

.ingredients-title {
	font-size: 20px;
	margin: 0px;
}

.ingredients-subtitle {
	padding-top: 25px;
	margin: 0px;
	font-style: italic;
	font-size: 18px;
}

.ingredients-table, .ingredients-table-row {
	width: 100%;
}

.instructions {
	margin-top: 25px;
	height: 1000px;
}

.instructions-title {
	font-size: 20px;
	margin: 0px;
}

.instructions-subtitle {
	padding-top: 10px;
	margin: 0px;
	font-style: italic;
	font-size: 18px;
}

.instructions-list {
	margin-top: 0px;
}

.instructions-list > li {
	margin-bottom: 5px;
	break-inside: avoid;
	page-break-inside: avoid;
}
