:root {
    --black: #272727;
    --grey: #747474;
    --light-grey: #fbfbfb;
    --less-light-grey: #f1f0f0;
    --white: #ffffff;
    --logout-button: #48bbac;
    --color-0: #f0226d;
    --color-1: #726DFF;
    --color-2: #30aa2d;
    --color-3: #c449c9;
    --color-4: #fc9038;
    --color-5: #e7bc44;
    --color-6: #48bbac;
    --color-7: #a8246d;
    --color-8: #7e7e7e;
    --color-9: #383838;
}

.loading {
    font-size: 5em;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10%;
}

body, html {
    margin: 0px;
    font-family: Roboto, sans-serif;
    color: var(--black);
    font-size: 1.2em;
    background-color: var(--white);
}

header {
    width: 100%;
    background-color: var(--white);
}

.logout-button {
	background-color: var(--logout-button);
	display: inline-block;
	cursor: pointer;
	color: var(--white);
	font-size: 0.9em;
	padding: 6px 15px;
    text-decoration: none;
    float: right;
}

.logout-button:active {
	position: relative;
	top: 1px;
}   

.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    float: right;
}

#user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#list-container {
    padding: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 40%;
}

td {
    font-size: 0.8em;
    padding: 0.25em;
}

td:last-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

select {
    width: auto;
    height: 28px;
    font-size: 0.7em;
    padding: 5px;
    color: var(--white);
    border-radius: 0px;
}

td > input {
    border: none;
    padding: 0px;
    margin: 0px;
    background-color: inherit;
    border-bottom: 2px solid var(--grey);
    color: var(--black);
    font-size: inherit;
    width: 100%;
    display: none;
}

input::placeholder {
    color: var(--grey);
}

td > span {
    display: block;
}

th:last-child {
    text-align: center;
}

i {
    cursor: pointer;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 50px;
    font-size: 2em;
    background-color: var(--light-grey);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

th {
    text-align: left;
    font-size: 0.9em;
    font-weight: 200;
}

.category-column {
    width: 12%;
}

.title-column {
    text-align: left;
}

.location-column {
    font-weight: bold;
}

.list-item:nth-child(even):not(.list-header) {
    background-color: var(--light-grey);
}

.list-header {
    color: var(--black);
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 30px;
}

.list-item {
    color: var(--black);
    overflow: auto;
    transition: all 0.2s ease-in-out;
}

.list-item:hover {
    
}
