html, body {
    margin: 0px;
    background: url("https://www.wallpaperflare.com/static/111/495/696/mountains-gradient-foggy-hd-wallpaper.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}