@import url('https://fonts.googleapis.com/css?family=Alice|Roboto&display=swap');

:root {
	--main-color: #6BE4C3;
	--secondary-color: #FF1984;
	--main-darker: #51A58E;
	--secondary-darker: #CA2873;
	--main-lighter: #FFFFFF;
	--footer-background: #77C3AE;
	--black: #1B0B13;

	/*
	--main-color: #6BE4C3;
	--footer-background: #77C3AE;
	 */
}

html, body {
	font-family: "Alice", serif;
	text-align: center;
	margin: 0;
	color: var(--black);
}

#container {
	margin: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: auto 10fr auto;
	grid-template-areas: "head head head"
						 "app app app"
						 "foot foot foot";
}

a {
	color: var(--main-lighter);
	font-weight: bold;
	text-decoration: none;
}

#application {
	grid-area: app;
}

.list {

}

.item {
	display: grid;
	grid-template-columns: 1fr 2fr 3fr;
	grid-template-rows: 35px;
	border: 2px solid var(--black);
	border-radius: 10px;
	margin: 5px 10px 0 10px;
}

.item > p {
	margin: auto;
}

.item-name {
	text-align: left;
	margin-left: 25px;
}

.item-qty {
	font-style: italic;
}

.item-progress {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	height: 8px;
	margin: auto 5px auto 0;
	border-radius: 20px;
}

.item-progress > span {
	display: block;
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: var(--secondary-color);
	background-image: linear-gradient(
		to right,
		var(--secondary-color),
		var(--secondary-darker)
	);
	position: relative;
	overflow: hidden;
}

header {
	grid-area: head;
	margin: auto 0 auto 0;
	padding-left: 25px;
	text-align: left;
	color: var(--main-lighter);
	background-color: var(--main-color);
}

footer {
	grid-area: foot;
	background-color: var(--footer-background);
}

.three-columns {
	columns: 3;
	max-width: 400px;
	margin: auto;
}

#footer > p {
	margin: 0;
}

#footer {
	margin: auto;
	padding: 10px;
}
