html, body, h1, p {
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    color: #313131;
}

h1 {
    font-size: 4em;
    font-weight: 100;
}

p {
    font-size: 2.5em;
}

i {
    background-color: #ff1180;
    color: white;
}